<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <form action="#" th:action="@{/cinema/hall}" th:object="${cAh}" method="post">
        <br/><input type="hidden" th:field="*{cinemahall.id}" class="form-control" placeholder="Id"/>
        <br/><input type="text" th:field="*{cinemahall.name}" class="form-control" placeholder="Name"/>
        <br/><input type="number" th:field="*{cinemahall.numberOfSeats}" class="form-control"
                    placeholder="Number of Seats"/>

        <br/><input type="hidden" th:field="*{cinema.id}"/>
        <br/><input type="hidden" th:field="*{cinema.name}"/>
        <br/><input type="hidden" th:field="*{cinema.city}"/>
        <br/><input type="hidden" th:field="*{cinema.street}"/>
        <br/><input type="hidden" th:field="*{cinema.number}"/>
        <br/>
        <button type="submit" class="btn btn-md btn-primary pull-right">Save</button>
    </form>
</div>
</html>