<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <br/>
    <div class="container">
        <div class="row">
            <div class="site-container">
                <form action="#" th:action="@{/cinema/hall}" th:object="${cAh}" method="post">
                    <h3>Panel dodawania sali kinowej</h3>
                    <hr/>
                    <input type="hidden" th:field="*{cinemahall.id}" class="form-control" placeholder="Id"/>
                    <div><label> Nazwa sali kinowej:<input type="text" th:field="*{cinemahall.name}"
                                                           class="form-control"
                                                           placeholder="Nazwa sali kinowej"/></label></div>
                    <div><label> Liczba siedzeń:<input type="number" th:field="*{cinemahall.numberOfSeats}"
                                                       class="form-control"
                                                       placeholder="Liczba siedzeń"/></label></div>

                   <input type="hidden" th:field="*{cinema.id}"/>
                    <input type="hidden" th:field="*{cinema.name}"/>
                    <input type="hidden" th:field="*{cinema.city}"/>
                    <input type="hidden" th:field="*{cinema.street}"/>
                    <input type="hidden" th:field="*{cinema.number}"/>

                    <center>
                        <div>
                            <button type="submit" class="btn btn-md btn-warning pull-right">Dodaj</button>
                        </div>
                    </center>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
</html>