<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="site-container">
                <h3>Panel usuwania filmu</h3>
                <hr/>
                <div>Czy jesteś pewny?<br /></div>
                <center><div><a th:href="@{/user/remove/{id}/(id=${user.id})}" class="btn btn-danger">Delete</a></div></center>
    </div>
        </div></div></div>
</html>