<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="main-container">
                <h3>Lista użytkowników</h3>
                <hr/>
        <div class="panel-heading"><a th:href="@{/user/add/}" class="btn btn-warning">Dodaj nowego użytkownika</a></div>
                <div class="panel panel-default">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Email</th>
                <th>Akcje</th>
            </tr>
            <tr th:each="user  : ${users}">
                <td th:text="${user.id}">Id</td>
                <td th:text="${user.name}">Nazwa</td>
                <td th:text="${user.email}">Email</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a th:href="@{/user/{id}/(id=${user.id})}" class="btn btn-primary">Szczegóły</a>
                        <a th:href="@{/user/add/{id}/(id=${user.id})}" class="btn btn-warning">Edytuj</a>
                        <a th:href="@{/user/confirm/{id}/(id=${user.id})}" class="btn btn-danger">Usuń</a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
            </div></div></div></div>
</html>