<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <br />
    <div class="container">
        <div class="row">
            <div class="login-container">
                <h3>Panel logowania</h3>
                <hr />
                <div th:if="${param.error}">
                    Nieprawidłowa nazwa użytkownika lub hasło.
                </div>
                <div th:if="${param.logout}">
                    Zostałeś wylogowany.
                </div>
                <form th:action="@{/login}" method="post">
                    <div><label> Nazwa użytkownika: <input type="text" name="username" class="form-control"
                                                           placeholder="Nazwa użytkownika"/> </label></div>
                    <div><label> Hasło: <input type="password" name="password" class="form-control"
                                               placeholder="Hasło"/> </label></div>
                    <center><div><input type="submit" class="btn btn-md btn-warning" value="Zaloguj"/></div></center>
                </form>
            </div>
        </div>
    </div>
</div>
</html>