<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <br/>
    <div class="container">
        <div class="row">
            <div class="site-container">
                <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
                    <h3>Panel dodawania nowego użytkownika</h3>
                    <hr/>
                    <!--<br/><input type="hidden" th:field="*{id}" class="form-control" placeholder="Id"/>-->
                    <div><label>Nazwa użytkownika:<input type="text" th:field="*{name}" class="form-control"
                                                         placeholder="Name"/></label></div>
                    <div><label>Email:<input type="text" th:field="*{email}" class="form-control" placeholder="Email"/></label>
                    </div>
                    <div><label>Hasło:<input type="password" th:field="*{password}" class="form-control"
                                             placeholder="Password"/></label></div>
                    <div><label>Data rejestracji:<input type="hidden" th:field="*{dob}" class="form-control"
                                                        placeholder="Date of register"/></label></div>
                    <div>
                        <center>
                            <button type="submit" class="btn btn-md btn-warning">Dodaj</button>

                    </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>