<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <br />
    <div class="container">
        <div class="row">
            <div class="site-container">
                <form action="#" th:action="@{/movie/add}" th:object="${movie}" method="post">
                    <h3>Panel dodawania filmu</h3>
                    <hr />
                    <div><input type="hidden" th:field="*{id}" class="form-control" placeholder="Id"/></div>
                        <div><label> Tytuł filmu:<input type="text" th:field="*{title}" class="form-control" placeholder="Tytuł"/></label></div>
                            <div><label> Opis filmu:<input type="text" th:field="*{description}" class="form-control" placeholder="Opis"/></label></div>
                                <div><label> Data publikacji filmu:<input type="date" th:field="*{publicationDate}" class="form-control"
                                placeholder="Rok wydania"/></label></div>

                    <center><div><button type="submit" class="btn btn-md btn-warning">Zapisz</button></div></center>
                </form>
            </div>
        </div>
    </div>
</div>
</html>