<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><a th:href="@{/movie/add/}" class="btn btn-primary">Create</a></div>
        <div class="panel-body">
            <p>All movies in database</p>
        </div>

        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>PublicationDate</th>
                <th>Actions</th>
            </tr>
            <tr th:each="movie  : ${movies}">
                <td th:text="${movie.id}">Id</td>
                <td th:text="${movie.title}">Title</td>
                <td th:text="${movie.description}">Description</td>
                <td th:text="${movie.publicationDate}">PublicationDate</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a th:href="@{/movie/{id}/(id=${movie.id})}" class="btn btn-primary">Details</a>
                        <a th:href="@{/movie/add/{id}/(id=${movie.id})}" class="btn btn-warning">Edit</a>
                        <a th:href="@{/movie/confirm/{id}/(id=${movie.id})}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
</html>