<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <br/>
    <div class="container">
        <div class="row">
            <div class="site-container">
    <form action="#" th:action="@{/showing/hall}" th:object="${showing}" method="post">
        <h3>Panel dodawania xxxx</h3>
        <hr/>
        <input type="hidden" th:field="*{id}" class="form-control" placeholder="Id"/>
        <div><label> Wybierz salę:
        <select th:field="${showing.cinemahall}" class="dropdown">
            <option th:each="cinemahall : ${halls}"
                    th:value="${cinemahall.id}"
                    th:text="${cinemahall.toString()}">Wireframe
            </option>
        </select>
</label></div>
        <br/>
        <center><div><button type="submit" class="btn btn-md btn-warning">Dodaj</button></div></center>
    </form>
            </div>
        </div>
    </div>
</div>
</html>