@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");

.login-container {
    margin-top: 200px;
    margin: 0 auto;
    width: 500px; /* Whatever exact width you are looking for (not bound by preset bootstrap widths) */
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    padding: 25px;
}
.site-container {
    margin-top: 200px;
    margin: 0 auto;
    width: 500px; /*!* Whatever exact width you are looking for (not bound by preset bootstrap widths) *!*/
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    padding: 25px;
}
.main-container {

    margin: 0 auto;
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    padding: 25px;
}
.cinema-pan{
    margin: 0 auto;
    background-color: #2c2c2c;
    width: 50%;
    border-radius: 20px;
    border: 0px;
    padding: 25px;
}
.main-container2{
    margin: 0 auto;
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    width:50%;
    padding: 25px;
}
select#movie.dropdown{
    color:black; !important;
}

select#cinema.dropdown{
    color:black; !important;
}

select#cinemahall.dropdown{
    color:black; !important;
}

select#id.dropdown{
    color: black;
!important;
}

select#allAseats.dropdown {
    color: black;
!important;
}
.toLeft{
    margin-left:-30px;
}
.siedzenia{
    float:left;
    margin: 5px;
    padding: 15px;
    text-align:center;
    background: url(../images/seat.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    color: black;
}

select#seatsId.dropdown {
    color: black;
!important;
}
.panel > .table > tbody:first-child > tr:first-child th, .panel > .table > tbody:first-child > tr:first-child td{
    background-color:#e08e0b;
}
.wiersz-pierwszy{
    background-color:#e08e0b;
}
.button-marg{
    margin-left:-72%;
}
.button-marg2{
    margin-left:-64%;
}
.form-control2{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    text-align:center;
}