@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");

.login-container {
    margin-top: 200px;
    margin: 0 auto;
    width: 500px; /* Whatever exact width you are looking for (not bound by preset bootstrap widths) */
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    padding: 25px;
}
.site-container {
    margin-top: 200px;
    margin: 0 auto;
    width: 500px; /*!* Whatever exact width you are looking for (not bound by preset bootstrap widths) *!*/
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    padding: 25px;
}
.main-container {

    margin: 0 auto;
    background-color: #3c3c3c;
    border-radius: 20px;
    border-style: solid;
    border-color: #be780a #e2e2e2;
    padding: 25px;
}
select#movie.dropdown{
    color:black; !important;
}

select#cinema.dropdown{
    color:black; !important;
}

select#cinemahall.dropdown{
    color:black; !important;
}

select#id.dropdown{
    color: black;
!important;
}

select#allAseats.dropdown {
    color: black;
!important;
}
.toLeft{
    margin-left:-30px;
}
.siedzenia{
    float:left;
    margin: 5px;
    padding: 15px;
    text-align:center;
    background: url(../images/seat.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    color: black;
}

select#seatsId.dropdown {
    color: black;
!important;
}
