<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div layout:fragment="content">
    <br/>
    <div class="container">
        <div class="row">

            <div class="site-container2">
                <center><h3> Rezerwacja miejsc </h3></center>
                <hr/>
                <form action="#" th:action="@{/booking/add}" th:object="${bookingAndSeat}" method="post">
                    <!--<br/><input type="hidden" th:field="*{id}" class="form-control" placeholder="Id"/>-->
                    <div><input type="hidden" th:field="${bookingAndSeat.booking.showing.id}" class="form-control"
                                placeholder="Id"/></div>


                        <div th:each="seat  : ${allseats}" class="siedzenia">
                            <div th:text="${seat.toString()}">Id</div>
                        </div>



                    <!--Koniec Tabelki-->
                    <!--<div><label> Wybierz wolne miejsce z listy:-->
                    <!--<select class="dropdown" name="allAseats">-->
                    <!--<option th:each="seat : ${allseats}"-->
                    <!--th:value="${seat.id}"-->
                    <!--th:text="${seat.toString()}">Wireframe-->
                    <!--</option>-->
                    <!--</select></label>-->
                    <!--</div>-->


                    <br/>

                    <div class="msect"><br /><center><label><h4> Wybierz wolne miejsca z listy: </h4>
                        <select th:field="*{seatsId}" class="dropdown form-control2" multiple="multiple">
                            <option th:each="seat : ${seats}"
                                    th:value="${seat.id}"
                                    th:text="${seat.toString()}">Wireframe
                            </option>
                        </select></label></center>
                    </div>
                    <center>

                            <button type="submit" class="btn btn-sm btn-warning">Potwierdź</button>

                    </center>

                </form>
            </div>
        </div>
    </div>
</div>
</html>